.blog-wrapper {
    height: 100vh;
    background-color: #000;
    overflow: auto;
    position: relative;
}

.banner-blog {
    position: absolute;
    width: 793px;
    height: 1150px;
    left: -400px;
    top: 487px;
    object-fit: cover;
}

.banner-blog-bottom {
    position: absolute;
    width: 510px;
    object-fit: cover;
    top: 1570px;
    right: 0;
}

.banner-blog-bottom-end {
    position: absolute;
    object-fit: cover;
    transform: translateX(-50px);
    height: 1150px;
    top: 2757px;
    left: 0;
}

.content-blog-wrapper {
    margin-top: 50px;
}

.introduction-content-content-blog {
    width: 690px;
    margin: 0 auto;
    text-align: center;
}

.introduction-content-content-blog div:first-child img {
    width: 100px;
    object-fit: contain;
}

.introduction-content-content-blog div:last-child h2 {
    font-size: 48px;
    font-family: Lostar;
    color: #f0eb8d;
    margin-top: 6px;
}

.introduction-content-content-blog div:last-child p {
    color: #fff;
    font-size: 16px;
}

.content-detail-content-blog {
    display: flex;
    width: 1190px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

.content-detail-content-blog + .content-detail-content-blog {
    margin-top: 50px;
}

.content-detail-content-blog--left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 572px;
    border-right: 1px solid #d9d9d9;
    padding-bottom: 20px;
    flex-shrink: 0;
}

.content-detail-content-blog--right {
    /* flex: 1; */
    position: relative;
    width: 618px;
    padding-right: 2px;
}

.content-detail-content-blog--left > div:first-child {
    height: 465px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

.content-detail-content-blog--left > div:last-child {
    display: flex;
    color: #ffffff;
    padding: 0 30px;
    padding-top: 20px;
    margin: 0 auto;
    justify-content: space-between;
    flex: 1;
    flex-shrink: 0;
    border-top: 1px solid #d9d9d9;
}

.content-detail-content-blog--left div:last-child h3 {
    color: #f0eb8d;
    font-size: 28px;
    font-weight: 700;
}

.content-detail-content-blog--left div:last-child p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.content-detail-content-blog--left div:last-child p span {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.content-detail-content-blog--left div:last-child p span svg {
    width: 12px;
    height: 22px;
    display: block;
    margin-top: 4px;
}

.content-detail-content-blog--left div:last-child p span:last-child {
    font-size: 18px;
    color: #f0eb8d;
    font-weight: 700;
}

.content-detail-content-blog--right {
    /* padding-left: 32px;
    padding-top: 32px; */
}

.content-detail-content-blog--right {
}

.content-detail-content-blog--right--item {
    width: 210px;
}

.content-detail-content-blog--right--item img {
    width: 210px;
    height: 348px;
    object-fit: cover;
}

.content-detail-content-blog--right--item > div {
    text-align: center;
}

.content-detail-content-blog--right--item > div h3 {
    font-weight: 700;
    font-size: 16px;
    color: #f0eb8d;
    padding-top: 10px;
}

.content-detail-content-blog--right--item > div p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 10px 0;
}

.btn-color-join.custom-button {
    margin-top: 10px;
    width: 114px;
    height: 38px;
    font-size: 12px;
}

.content-detail-content-blog--right .overlay-custom {
    position: absolute;
    width: 624px;
    height: 50%;
    right: -191px;
    top: 139px;
    background: linear-gradient(180deg, #000000 24.54%, rgba(0, 0, 0, 0) 92.6%);
    opacity: 0.5;
    transform: rotate(90deg);
}

.content-detail-content-blog--right--item-wp {
    display: flex;
    gap: 24px;
    position: relative;
    overflow: hidden;
    padding-left: 32px;
    padding-top: 32px;
    width: 100%;
}

.control-side {
    z-index: 10;
}

.control-side.prev {
    left: -25px;
}

.control-side.next {
    right: -25px;
}

.list-Zodiac {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 30px;
}

.list-Zodiac-item {
    width: calc(100% / 6);
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.list-Zodiac-item img {
    min-height: 123px;
    object-fit: cover;
}

.list-Zodiac-item h3 {
    font-size: 28px;
    font-weight: 700;
    color: #f0eb8d;
    text-transform: uppercase;
}

.list-Zodiac-item p {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.out-blog {
    width: 1159px;
    margin: 0 auto;
}

.blog-suggest-top {
    display: flex;
    width: 100%;
    gap: 30px;
}

.blog-suggest-top > div:first-child {
    width: 553px;
    flex-shrink: 0;
    border: 1px solid #f0eb8d;
    border-radius: 4px;
}

.blog-suggest-top > div:first-child > img {
    height: 531px;
    width: 100%;
    object-fit: cover;
}

.blog-suggest-top > div:first-child > h3 {
    font-size: 28px;
    font-weight: 700;
    padding: 10px 10px;
    overflow: hidden;
    color: #f0eb8d;
}

.blog-suggest-top > div:first-child > p {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    padding: 20px 10px;
    padding-top: 0;
}

.blog-suggest-top > div:last-child {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-suggest-top > div:last-child > div {
    width: 50%;
    padding: 10px 20px;
}

.blog-suggest-top > div:last-child > div > div {
    border: 1px solid #f0eb8d;
    border-radius: 2px;
    height: 100%;
}

.blog-suggest-top > div:last-child > div img {
    height: 266px;
    object-fit: cover;
    width: 100%;
}

.blog-suggest-top > div:last-child > div h3 {
    font-size: 16px;
    font-weight: 700;
    color: #f0eb8d;
    text-align: center;
    padding: 14px 20px;
}

.blog-suggest-card {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    border: 2px solid #f0eb8d;
}

.blog-suggest-card img {
    width: 523px;
    height: 218px;
    object-fit: cover;
}

.blog-suggest-card div {
    padding: 30px 20px;
}

.blog-suggest-card h3 {
    font-size: 24px;
    color: #f0eb8d;
    font-weight: 700;
    margin-bottom: 10px;
}

.blog-suggest-card p {
    padding-right: 10px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    text-align: justify;
}
