.zodac-blog-wrapper {
    height: 100vh;
    background-color: #000;
    overflow: auto;
    padding-bottom: 100px;
}

.top-introduce-zodac-blog {
    width: 795px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}

.top-introduce-zodac-blog img {
    width: 490px;
    height: 345px;
    object-fit: cover;
}

.top-introduce-zodac-blog h3 {
    font-size: 96px;
    font-family: Lostar;
    color: #f0eb8d;
    position: absolute;
    bottom: 43px;
    right: 161px;
}

.top-introduce-zodac-blog p {
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    bottom: 19px;
    right: 211px;
    text-align: center;
}

.intro-top-component-wrapper-item {
    width: 1143px;
    height: 540px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.intro-top-component-wrapper-item--item {
    width: 314px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.introduction-content-content-blog {
    width: 690px;
    margin: 0 auto;
    text-align: center;
}

.introduction-content-content-blog div:first-child img {
    width: 100px;
    object-fit: contain;
}

.introduction-content-content-blog div:last-child h2 {
    font-size: 48px;
    font-family: Lostar;
    color: #f0eb8d;
    margin-top: 6px;
}

.introduction-content-content-blog div:last-child p {
    color: #fff;
    font-size: 16px;
}

.blog-suggest-zodac-wrapper {
    width: 1158px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    margin-top: 30px;
    gap: 33px;
}

.blog-suggest-zodac-wrapper > div {
    width: 364px;
    border: 1px solid #f0eb8d;
    border-radius: 2px;
}

.blog-suggest-zodac-wrapper > div:hover {
    opacity: 0.8;
    cursor: pointer;
}

.blog-suggest-zodac-wrapper > div img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.blog-suggest-zodac-wrapper > div h3 {
    font-size: 21px;
    font-weight: 700;
    color: #f0eb8d;
    padding: 10px 20px;
}

.blog-suggest-zodac-wrapper > div p {
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    padding: 20px 20px;
    padding-top: 0;
}

.blog-suggest-card {
    width: 1158px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    margin-top: 40px;
    border: 2px solid #f0eb8d;
    cursor: pointer;
}

.blog-suggest-card:hover {
    opacity: 0.8;
}

.blog-suggest-card img {
    width: 523px;
    height: 218px;
    object-fit: cover;
}

.blog-suggest-card div {
    padding: 30px 20px;
}

.blog-suggest-card h3 {
    font-size: 24px;
    color: #f0eb8d;
    font-weight: 700;
    margin-bottom: 10px;
}

.blog-suggest-card p {
    padding-right: 10px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    text-align: justify;
}

.check-out-other h3 {
    font-size: 28px;
    font-weight: 700;
    color: #f0eb8d;
    text-transform: uppercase;
    text-align: center;
    padding: 6px 0;
}

.list-Zodiac {
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 30px;
}

.list-Zodiac.customize {
    justify-content: center;
}

.list-Zodiac-item {
    width: calc(100% / 6);
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.list-Zodiac-item img {
    min-height: 123px;
    object-fit: cover;
}

.list-Zodiac-item h3 {
    font-size: 28px;
    font-weight: 700;
    color: #f0eb8d;
    text-transform: uppercase;
}

.list-Zodiac-item p {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
